.footer {
  position: absolute;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  line-height: 18px;

  width: 100%;
  height: 120px;
  text-align: center;
  background-color: #020214;
}

.footer_up {
  color: white;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  display: flex;
  column-gap: 32px;
}

.footer_down {
  display: flex;
  -webkit-box-align: center;
  color: hsla(0, 0%, 100%, 0.3);
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

.copyright {
  display: flex;
  -webkit-box-align: center;
}

.copyright::before {
  content: '';
  display: block;
  margin-right: 8px;
  width: 51px;
  height: 15px;
  background: url('/img/wemade.png') 50% 0 / auto 100% no-repeat;
}

.exd_list_top {
  display: inline-block;
  position: relative;
  top: 71px;
  height: 460px;
  width: 100%;
  background-image: url('/img/exdBackground.png');
  /* background-size: cover; */
  background-position: center top;
  background-repeat: no-repeat;
}

.large {
  height: 1000px;
}
