html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
