.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 71px;
  z-index: 1;
  background-color: black;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_small {
  height: 42px;
}

.nav_contents {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.gnb_left {
  position: relative;
  display: flex;
  height: 100%;
}

.nav_logo {
  display: inline-block;
  height: 100%;
  transition: all 0.2s linear;
  justify-content: center;
  text-align: center;
}

.nav_menu_icon {
  padding: 20px 13px 0 13px;
  transition-timing-function: linear;
  transition: all 0.5s;
  cursor: pointer;
}

.nav_menu_icon_small {
  padding: 7px 15px 0 15px;
  transform: scale(0.8);
  /* width: 85%; */
}

.nav_list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_button {
  display: inline-block;
  height: 100%;
  transition: all 0.1s linear;
  justify-content: center;
  text-align: center;
  border-bottom: white;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}
.nav_button:hover {
  background-color: #1d1d3c;
  border-bottom-width: 2px;
}

.nav_button_small {
  border-bottom: #1d1d3c;
}

.gnb_right {
  position: relative;
  display: flex;
  height: 100%;
}

.nav_link_text {
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.nav_mir4 {
  margin: 0 7px 0 7px;
  width: 70px;
  height: 35px;
  cursor: pointer;
}

.nav_icon {
  margin: 0 7px 0 7px;
  width: 30px;
  height: 35px;
  cursor: pointer;
}

.nav_avatar {
  margin: 0 16px 0 8px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
